@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: default;
  user-select: none; }

i {
  cursor: pointer; }

ul, li {
  list-style: none; }

#app {
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.6);
  width: 480px;
  margin: 90px auto;
  background: transparent; }

/* ——————> fm 头部样式 header <—————— */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  height: 50px;
  background: #009999;
  border-radius: 8px 8px 0 0;
  position: relative;
  /* 左侧图标 */
  /* 右侧图标 */
  /* 中间标题 */ }
  .header .icon-left {
    margin-left: 20px; }
    .header .icon-left i {
      display: none;
      color: #e8edea; }
      .header .icon-left i:nth-child(1) {
        display: block; }
  .header .icon-right {
    margin-right: 20px; }
    .header .icon-right i {
      color: #e8edea; }
  .header .icon-middle {
    font-family: "STHupo", sans-self;
    font-size: 16pt;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: #dae7e4;
    letter-spacing: 1px; }

/* ——————> fm 频道样式 nav <—————— */
.nav {
  width: 480px;
  height: 50px;
  background: #393c39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px; }
  .nav .pre > i, .nav .next > i {
    color: #e8edea; }
  .nav .channel {
    width: 326px;
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
    .nav .channel li {
      font-family: "\5FAE\8F6F\96C5\9ED1", sans-self;
      font-size: 16pt;
      color: #6c6f6c; }
      .nav .channel li span {
        font-size: 10pt; }
      .nav .channel li:nth-child(2) {
        font-size: 18pt;
        color: #e8edea; }
      .nav .channel li:nth-child(2) > span {
        font-size: 12pt; }

/* ——————> fm 音乐信息 封面 标题 作者 控制器 main <—————— */
.main {
  width: 480px;
  height: 175px;
  padding: 0 28px;
  background: #e8edea;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .main .picture {
    display: block;
    width: 120px;
    height: auto;
    margin-top: -2px;
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.6); }
  .main .controlCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 248px;
    height: 120px; }
    .main .controlCenter .line1, .main .controlCenter .line2, .main .controlCenter .line4 {
      display: flex;
      justify-content: space-between; }
    .main .controlCenter .line1 > .auther, .main .controlCenter .line2 > .title {
      font-family: "Helvetica", sans-self;
      font-weight: bold;
      font-size: 14pt; }
    .main .controlCenter .line1 {
      margin-top: 6px; }
      .main .controlCenter .line1 .auther {
        color: #5d5f5e; }
      .main .controlCenter .line1 .playBtn {
        background: transparent;
        color: #3f413f; }
        .main .controlCenter .line1 .playBtn i:last-child {
          display: none; }
    .main .controlCenter .line2 {
      margin-top: -14px; }
      .main .controlCenter .line2 .title {
        color: rgba(0, 0, 0, 0.8); }
      .main .controlCenter .line2 .playNow {
        font-weight: bold;
        color: #82bbb0; }
    .main .controlCenter .line3 {
      margin-top: -6px;
      width: 248px;
      height: 5px;
      background: #ced9d3; }
      .main .controlCenter .line3 span {
        display: block;
        background: #91bdb4;
        height: 5px;
        width: 10%; }
    .main .controlCenter .line4 i {
      color: #3f413f; }
    .main .controlCenter .line4 .fa-heart {
      color: #d9414e; }

/*# sourceMappingURL=index.css.map */
